name: Build and deploy JAR app to Azure Web App - AMBank
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check java version
        run: java -version && javac -version

      - name: Build with Maven (project in subfolder)
        # aponta explicitamente para o pom.xml dentro da pasta AnhembiMorumBank
        run: mvn -f AnhembiMorumBank/pom.xml -B -DskipTests=false clean package

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: AnhembiMorumBank/target/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Deploy to Azure Web App using publish profile
        uses: azure/webapps-deploy@v2
        with:
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: 'AnhembiMorumBank/target/*.jar'
