name: Build and deploy JAR app to Azure Web App - AMBank

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn -B package --file AnhembiMorumBank/pom.xml

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: AnhembiMorumBank/target/*.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: AMBank
          publish-profile: ${{ secrets.AzureAppService_PublishProfile }}
          package: '*.jar'
